In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
# Comparação entre Apple (AAPL) e Samsung (005930.KS)
tickers = ['AAPL', '005930.KS']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']

In [3]:
sec_data.tail()

                  AAPL  005930.KS
Date
2020-08-10  450.910004    57800.0
2020-08-11  437.500000    58200.0
2020-08-12  452.040009    59000.0
2020-08-13  460.040009    58700.0
2020-08-14  459.630005    58000.0

In [4]:
# Retorno logarítimo
sec_returns = np.log(sec_data / sec_data.shift(1))

In [5]:
sec_returns

                AAPL  005930.KS
Date
2007-01-03       NaN        NaN
2007-01-04  0.021953  -0.013115
2007-01-05 -0.007147  -0.018318
2007-01-08  0.004926  -0.018661
2007-01-09  0.079800   0.003419
...              ...        ...
2020-08-10  0.014430   0.005204
2020-08-11 -0.030191   0.006897
2020-08-12  0.032694   0.013652
2020-08-13  0.017543  -0.005098
2020-08-14 -0.000892  -0.011997

[3429 rows x 2 columns]

In [6]:
sec_returns['AAPL'].mean()

0.0011067444476668634

In [7]:
sec_returns['AAPL'].mean() * 250

0.2766861119167159

In [8]:
sec_returns['AAPL'].std()

0.020416098467909188

In [9]:
sec_returns['AAPL'].std() * 250 ** 0.5

0.3228068604643355

In [10]:
sec_returns['005930.KS'].mean()

0.003922188582749303

In [11]:
sec_returns['005930.KS'].mean() * 250

0.9805471456873257

In [12]:
sec_returns['005930.KS'].std()

0.05861504903579245

In [13]:
sec_returns['005930.KS'].std() * 250 ** 0.5

0.9267853005778027

In [14]:
sec_returns[['AAPL', '005930.KS']].mean() * 250

AAPL         0.276686
005930.KS    0.980547
dtype: float64

In [15]:
# Volatilidade (Desvio Padrão)
sec_returns[['AAPL', '005930.KS']].std() * 250 ** 0.5

AAPL         0.322807
005930.KS    0.926785
dtype: float64