In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [4]:
# Comparação entre Itaú (ITUB4.SA) e Bradesco (BBDC4.SA)
tickers = ['ITUB4.SA', 'BBDC4.SA']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2010-1-1')['Adj Close']

In [6]:
sec_data.head()

             ITUB4.SA   BBDC4.SA
Date
2010-01-04  12.299113  10.924366
2010-01-05  12.378833  10.875337
2010-01-06  12.271578  10.788334
2010-01-07  12.145884  10.759295
2010-01-08  11.961948  10.747694

In [7]:
sec_data.tail()

             ITUB4.SA   BBDC4.SA
Date
2020-11-23  28.900000  24.480000
2020-11-24  29.709999  25.580000
2020-11-25  29.360001  25.250000
2020-11-26  28.740000  24.840000
2020-11-27  28.959999  24.639999

In [8]:
# Retorno logarítimo
sec_returns = np.log(sec_data / sec_data.shift(1))

In [11]:
# Calcular a variância de BBDC4
BBDC_var = sec_returns['BBDC4.SA'].var()
BBDC_var

0.0004789651232138029

In [12]:
# Calcular a variância de ITUB4
ITUB_var = sec_returns['ITUB4.SA'].var()
ITUB_var

0.000404941810021618

In [13]:
# Calcular a variância de BBDC4 anual
BBDC_var = sec_returns['BBDC4.SA'].var() * 250
BBDC_var

0.11974128080345073

In [14]:
# Calcular a variância de ITUB4 (anual)
ITUB_var = sec_returns['ITUB4.SA'].var() * 250
ITUB_var

0.1012354525054045

In [15]:
# Covariância de pares de colunas
cov_matrix = sec_returns.cov()
cov_matrix

          ITUB4.SA  BBDC4.SA
ITUB4.SA  0.000405  0.000363
BBDC4.SA  0.000363  0.000479

In [16]:
# Covariância de pares de colunas (anual)
cov_matrix = sec_returns.cov() * 250
cov_matrix

          ITUB4.SA  BBDC4.SA
ITUB4.SA  0.101235  0.090789
BBDC4.SA  0.090789  0.119741

In [17]:
# Correlação de pares de colunas
corr_matrix = sec_returns.corr()
corr_matrix

          ITUB4.SA  BBDC4.SA
ITUB4.SA  1.000000  0.824604
BBDC4.SA  0.824604  1.000000

In [ ]:
# Os valores 1.0000 indicam a correlação perfeita entre seus movimentos e seus preços individualizados.
# Já os valores 0.824604 indicam que o RETORNO das ações possuem baixa correlação.