In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
# Comparação entre Lojas Americanas (LAME4.SA) e TOTVS (TOTS3.SA)
tickers = ['LAME4.SA', 'TOTS3.SA']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2010-1-1')['Adj Close']

In [3]:
sec_data.head()

            LAME4.SA   TOTS3.SA
Date
2010-01-04  7.363498  18.075848
2010-01-05  7.106353  17.773275
2010-01-06  6.970778  17.879208
2010-01-07  6.966101  17.894285
2010-01-08  6.989473  18.068268

In [4]:
# Retorno logarítimo
sec_returns = np.log(sec_data / sec_data.shift(1))

In [5]:
# Peso do investimento em cada ativo (50%)
weights = np.array([0.5, 0.5])

In [6]:
# Variância do Portfólio
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
pfolio_var

0.11501226990927801

In [7]:
# Volatilidade do Portfólio
pfolio_vol = (np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))) ** 0.5
pfolio_vol

0.33913458966799304

In [12]:
print (str(round(pfolio_vol, 5) * 100) + ' %')

33.913 %

In [18]:
# RISCO DIVERSIFICÁVEL ANUAL - LOJAS AMERICANAS
# Variância anual
LAME_var_a = sec_returns['LAME4.SA'].var() * 250 
LAME_var_a

0.1395594587080298

In [19]:
# RISCO DIVERSIFICÁVEL ANUAL - TOTVS
# Variância anual
TOTS_var_a = sec_returns['TOTS3.SA'].var() * 250
TOTS_var_a

0.23777168226574236

In [21]:
# Risco Diversificável (dr)
dr = pfolio_var - (weights[0] ** 2 * LAME_var_a) - (weights[1] ** 2 * TOTS_var_a)
dr

0.020679484665834982

In [22]:
print(str(round(dr*100, 3)) + ' %')

2.068 %

In [24]:
# RISCO NÃO DIVERSIFICÁVEL (n_dr)
n_dr_1 = pfolio_var - dr
n_dr_1

0.09433278524344303

In [25]:
n_dr_2 = (weights[0] ** 2 * LAME_var_a) + (weights[1] ** 2 * TOTS_var_a)
n_dr_2

0.09433278524344305

In [26]:
n_dr_1 == n_dr_2

False